@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.bodyStyle {
    background-color: #ffe2e29c;
}

.heroStyle {
    /*background-color: #ffd0d0;*/
}

#hero {
    .nameStyle {
        display: flex;
        flex-wrap: nowrap;
        font-family: "Dancing Script", cursive;
        font-optical-sizing: auto;
        font-style: normal;
        justify-content: center;
        margin: 0 12px;
    }


    .loveIcon {
        width: 5%;
        height: 50%;
        align-self: center;
        margin: 0 12px;
    }

    @media only screen and (max-width: 768px) {
        .loveIcon {
            width: 20%;
            height: 50%;
            align-self: center;
            margin: 0 12px;
        }
    }
}

#wedding-events {
    .groom-event-img {
        object-position: 0 40%;
    }
    .bride-event-img {
        object-position: 0 46%;
    }
}

:where(.css-dev-only-do-not-override-1hpnbz2).ant-image-preview-root .ant-image-preview-img {
    max-height: 100%;
}